# Database connection string (Postgres)
# For local Docker Compose use the service hostname `postgres` and the credentials
# defined in docker-compose.yml: user=`payload`, password=`payload`, db=`payload`
DATABASE_URL=postgres://payload:payload@postgres:5432/payload

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

VERCEL_PROJECT_PRODUCTION_URL=https://localhost:3000